*{
    margin: 0;
    padding: 0;
}



/*header-------------------------------------------------------------------*/

header{
    height: 100px;
    background:#333 ;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    
    color: #fff;
    font-family: 'Righteous', cursive;

}

.log{
    text-decoration: none;
    color: #fff;
}


.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;

}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display:none ;
    transition: 0.4s ;
}

.mostrar-menu{
    order: 1;
}

.navbar a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color:#18b69a ;
      
}

#check{
    display: none;
}





/* responsive-banner particles*/

@media(max-width: 768px){
    
    
}

/*responsive text banner*/
@media(max-width: 768px){
    .contenido-banner{
        display: flex;
        position: relative;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    span.topline{
        margin-top: 100px;
       font-size: 15px;
    }

    span.topline::after{
        height: 2px;
        width: 25px;

    }
    .im{
         font-size: 30px;
         justify-content: center;
    }
#element{
    font-size: 40px;
    justify-content: center;
}
.descripcion{
    font-size: 1em;
    width: 70%;
}



}











/* responsive-nav*/

@media(max-width: 768px){
    /*header*/

    .logo{
        font-size: 30px;
    }

    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 200;
        transition: 0.8s;


    }
    .navbar a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .navbar{
        right: 0;
    }
}




/*text banner*/



/*banner particles*/
/*#particles-js{
    background: #18b69a;
    position: absolute;
    width: 100%;
    height: 80%;
    
}*/

#particles-js{
    position:absolute;
    width: 100%;
    height: 70%;
    /*background: #18b69a;*/
    /*background: #ddd6f3; fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #0ED2F7, #f5f4f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #0ED2F7, #f5f4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenido-banner{
    position: relative;
width: 100%;
height: 60vh;
justify-content: center;
align-items: center;
padding: 5% 10% ;
overflow: hidden;
z-index: 100;

}

.banner{
    width: 80%;

}



.topline{
    display:block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #333;
}

.topline::after{
    
    position:absolute ;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10%;
    background-color:rgb(53, 58, 205) ;

}

h1{
    display: block;
    margin-top: 5px;
    font-size: 7em;
    font-weight: 900;
    color: #fff;
    font-family: 'Righteous', cursive;
    
}



#element{
 color: rgb(53, 58, 205);
 /*text-transform: capitalize;*/
}

p{
    display:block;
    margin-top: 30px;
    width: 50%;
    font-size: 1.2em;
    color:#333
}

.btns{
    position:relative;
    width: 100%;
    /*left: 150px;*/


}

button {
    
    outline: none;
    border-radius: 10px;
    border: 4px double #fff ;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #333;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   



}

button:hover{
    background-color:  rgb(53, 58, 205) ;
}













.container-tarj {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*padding: 20px;*/
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 15px;
    text-align: center;
    width: calc(30% - 0px); /* Asegura que haya espacio para tres columnas */
    
}


.card {
    /* Otros estilos aquí */
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.02); /* Cambia el tamaño de la tarjeta al hacer hover */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Añade una sombra al hacer hover */
    background: #f5f4f0;
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .container-tarj {
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 60px;
    }

    .card {
        width: 85%;

    }
}

/* Estilos para las imágenes */
.card img {
    max-width: 100%;
    height: auto;
}

/* Estilos para los títulos */
.card h2 {
    font-family:'Righteous', cursive;
    font-size: 20px;
    margin: 10px 0;
}

/* Estilos para el contenido */
.card p {
    font-size: 16px;
    display: inline;
    /*line-height: 1.5;*/
}






  
/* Estilos del footer */
footer {
    background-color: #333; /* Color de fondo del footer */
    margin-top: 20px;
    padding: 80px;
}

.footer-content p{
   margin: 70px;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    
}



/*.footer-content {
    max-width: 1200px;
}*/

/* Estilos responsivos */
@media (max-width: 768px) {
    footer {
        padding: 10px;

    }
}
